dump/
mongodb-data/
mongodb-data-rs0-0/
mongodb-data-rs0-1/
mongodb-data-configSrv1/
mongodb-data-configSrv2/
mongodb-data-configSrv3/
mongodb-data-shard01a/
mongodb-data-shard01b/
mongodb-data-shard02a/
mongodb-data-shard02b/
mongodb-data-shard03a/
mongodb-data-shard03b/
mongodb-data-exemplo-transacao/
mongodb-data-exemplo-upgrade/
